@use '../components/Button/button.styles.scss';
@use '../components/SearchBar/searchbar.styles.scss';

body { 
    background: white;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    color: black;
}