@use '../components/Button/button.styles.scss';
@use '../components/SearchBar/searchbar.styles.scss';
@use '../components/Toolbar/toolbar.styles.scss';
@use '../components/ItemCard/itemcard.styles.scss';
@use '../components/ItemsGrid/itemsgrid.styles.scss';

body { 
    background: white;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    color: black;
    margin: 0;
}

.body-wrapper{
    margin: 50px 0;
}